## New Versio; upgrading patch versions of dependencies to address security vulnerabilities

fastapi==0.115.12       #  fastapi 0.111.0 depends on starlette<0.38.0 and >=0.37.2
uvicorn[standard]==0.30.1
jinja2==3.1.6
python-multipart==0.0.27
# starlette==0.37.2  # This is a dependancy of FastApi. Do not upgrade to any higher version than 0.37.2 as it may cause compatibility issues with FastApi.
httpx==0.27.0


## Previous versions (commented out for reference)
# fastapi==0.111.0
# uvicorn[standard]==0.30.1
# jinja2==3.1.4
# python-multipart==0.0.9
