# =========================
# Terraform
# =========================
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars
!*.tfvars.example
plan-output*.txt

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =========================
# Docker
# =========================
*.tar

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Documentation / Learning
# =========================
learning_points.md
Working_doc.md
README.md
Project-README.md
resume.md
Final-README.md
POST-DEPLOYMENT-ACTIVITIES.md
POST-PROJECT-REFERENCE.md
REFACTORING-SHARED-INFRASTRUCTURE.md

docs/
infra-docs/
stage-docs/
aws-console-setup/
vpc-documentation/

console_setup.md

# =========================
# Recovery / Manual Ops
# =========================
recovery-imports.sh
README-recovery.sh
AWS-Manual-Clean-up.md

# =========================
# App Phase Docs
# =========================
apps/mecandjeo-dashboard/phase1/
apps/mecandjeo-dashboard/phase2/
apps/mecandjeo-dashboard/phase3/

apps/mecandjeo-dashboard/phase4/generate-dockerhub-token.md
apps/mecandjeo-dashboard/phase4/generate-dockerhub_token.md
apps/mecandjeo-dashboard/phase4/phase4-task.md

# =========================
# Secrets / Sensitive Files
# =========================
**/*token*
**/*secret*
**/*credential*
**ABOUT-SHARED-RESOURCES
Type-commit-messages.md

mecandjeo-school\Docs\temp.login.md
pipelines-testing