cat > .gitignore << EOF
# Terraform state - never commit
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log

#learnings
learning_points.md
Working_doc.md
docs
project_Diagram
README.md
# Secrets
*.tfvars
!*.tfvars.example

# OS
.DS_Store
EOF