cat > .gitignore << EOF
# Terraform state - never commit
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log

#learnings
learning_points.md
Working_doc.md
stage-docs
aws-console-setup
console_setup.md
vpc-documentation
# project_Diagram
README.md
# Secrets
*.tfvars
!*.tfvars.example

# OS
.DS_Store
EOF

*.tfplan

recovery-imports.sh
README-recovery.sh