# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================================
# Virtual Environments
# ==========================================================

venv/
.venv/

# ==========================================================
# Environment Variables
# ==========================================================

.env
.env.*

!.env.example

# ==========================================================
# Git
# ==========================================================

.git/
.gitignore

# ==========================================================
# Python Tooling
# ==========================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Documentation
# ==========================================================

docs/

# ==========================================================
# Terraform
# ==========================================================

terraform.tfstate
terraform.tfstate.*