DATABASE_URL=postgresql://username:password@localhost:5432/database_name
SECRET_KEY=replace_with_generated_secret # use this to generate: python -c "import secrets; print(secrets.token_urlsafe(64))"
JWT_EXPIRE_HOURS=24