DATABASE_URL=postgresql://username:password@school-db:5432/database_name

SECRET_KEY=replace_with_generated_secret

JWT_EXPIRE_HOURS=24

# localhost ==> school-db (internal docker network)





# # Documents the required application configuration without exposing sensitive information. This file is used as a template for the actual .env file.
# DATABASE_URL=postgresql://username:password@localhost:5432/database_name
# SECRET_KEY=replace_with_generated_secret # use this to generate: python -c "import secrets; print(secrets.token_urlsafe(64))"
# JWT_EXPIRE_HOURS=24

