# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plans
*.tfplan

# Docker
*.tar

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

docs/
**ABOUT-SHARED-RESOURCES
logs